*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body, html {
      font-family: Arial, sans-serif;
	  height: 100%;
	  width: 100%;
    }
    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      position: relative;
	  bottom: 0;
      width: 100%;
	  margin-top: auto;
	  padding: 10px;
	
	
    }
    nav {
      background-color: #444;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
    nav a {
      text-decoration: none;
      color: lightgreen;
      margin: 0 10px;
    }
	div {
		margin-left: 20px;
		padding: 20px;
		text-align: center;

	}
	 footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
	  margin-top: auto;
    }
	p{
		padding: 8px;
		text-align: center
	
	}
	.mainweb{
		float:right;
		margin-left: 20px;
	}
	.logo{
		float: left;
		width: 95px;
		height:95px;
		max-width:100 px
	}
	h1#{
      padding: 20px;
      text-align: center;
      position: relative;
      width: 100%;
	  margin-top: auto;
	}
	img{
		width: 500px;
		height: 500px;
	}
	.credits{
	float:right;
	margin-left: 20px;
	}
	a{
	text-decoration: none;
    color: #b7fdfa;
	text-align:center;
	
	}
	
	.dictionary{
	float:left;
		margin-right: 20px;
	
	
	}
	
	th:nth-child(even),td:nth-child(even) {
  background-color: #D6EEEE;
  
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 5px;
}

.game{
	float:left;
	margin-right: px;
	color: lightgreen;
}